body {
  background-color: #f3cfc6;
  color: #00755e;
  font-family: "Glegoo", serif;
  /* margin-top: 5%; */
  /* padding: 0 5% 5% 5%; */
}

a:-webkit-any-link {
    color: #00755e;
    text-decoration: none;
  }

nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2%;
  z-index: 1;
}

a:hover, .contact-link:hover {
  text-decoration: underline;
}

/* HOME PAGE */

.home-content {
  display: grid;
  grid-template: 80% 20% / 1fr;
  margin: 1%;
}

.home-title {
  font-size: 10rem;
  margin: 0;
  z-index: -1;
}

#homepage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

/* ABOUT PAGE */

.about-page {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

.hero{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 50%;
}

.hero img {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
  clip-path: url("../assets/wave.svg#waveClip"); 
  -webkit-clip-path: url("../assets/wave.svg#waveClip");
}

.about-page .content {
  width: 50%;
}

.about-page .text {
  margin: 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 0 0.5rem 0;
}

/* CONTACT PAGE */

.container.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.container.contact .text {
  height: 90vh;
  width: 90vw;
  background: rgba(243, 207, 198, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container.contact .text ul {
  width: 30%;
  margin: auto;
}

@media (min-device-width: 768px) {
  .image-container {
    width: 277px;
    height: 277px;
  }
}
